{% extends 'timetracker/master_layout.html' %}

{%  block pagetitle  %} Index {% endblock %}

{% block body %}
<div id="wrapper">
    <header>
    </header>
    <nav>
    </nav>
    <section id="content">
        <div class="col-md-10 col-md-offset-1">
            <table class="table table-bordered table-condensed table-hover table-striped">
                <tr>
                    <th class="col-md-1"></th>
                    <th class="col-md-1">Monday</th>
                    <th class="col-md-1">Tuesday</th>
                    <th class="col-md-1">Wednesday</th>
                    <th class="col-md-1">Thursday</th>
                    <th class="col-md-1">Friday</th>
                    <th class="col-md-1">Saturday</th>
                    <th class="col-md-1">Sunday</th>
                </tr>

                {% for day_list in table %}
                <tr>
                    <td>{{ forloop.counter0|stringformat:"02d" }}</td>
                    {% for cell in day_list %}
                        {% if cell %}
                            <td style="padding: 0px; height: 30px;">
                                <div>
                                {% for index, span in cell.spans %}
                                    <div style="margin-left: 5%; height: 100%; width: 90%; background-color: {{ span.task.color }};">
                                        {% if index == 0 %}
                                            <span style="padding: 5px;">
                                                {{ span.start|date:"H:i" }}
                                                {{ span.task.name }}
                                            </span>
                                        {% elif index == -1 %}
                                            <span style="padding: 5px;">{{ span.end|date:"H:i" }} ({{ span.duration_hours_minutes }})</span>
                                        {% else %}
                                            <span style="padding: 5px;"></span>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                                </div>
                            </td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </section>
    <aside>
    </aside>
    <footer>
    </footer>
</div>
{% endblock %}