{% extends 'timetracker/master_layout.html' %}

{%  block pagetitle  %} Span {% endblock %}

{% block body %}
<div id="wrapper">
    <header>
    </header>
    <nav>
    </nav>
    <section id="content">
        <div class="col-md-10 col-md-offset-1">
            Hi {{ request.user.username }}!<br>
            <ul>
                {% for span in spans %}
                    <li>{{ span }}</li>
                {% empty %}
                    <li>No spans</li>
                {% endfor %}
            </ul>
        </div>
    </section>
    <aside>
    </aside>
    <footer>
    </footer>
</div>
{% endblock %}